@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 67px;
  background-color: #c3cfd9;
}

h1 {
  color: #e8833a;
  font-size: 34px;
}

h2 {
  font-size: 24px;
  text-align: center;
  margin: 50px 0;
}

main {
  padding: 0 25px;
}

.movies-section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.movie-poster {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 209px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-bottom: 11px;
}

.movie-poster img {
  width: 129px;
  height: 193px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 117px;
  padding: 14px 10px;
  background-color: #dfe6ed;
  border-top: 1px solid #9eadba;
}

footer .movie-poster {
  width: 64px;
  height: 89px;
  margin-bottom: 0;
  margin-right: 22px;
}

footer .movie-poster img {
  width: 48px;
  height: 72px;
}

footer p {
  color: #293845;
  font-size: 25px;
}
